<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - Gym Application</title>
@Styles.Render(
    "~/Content/bootstrap"
    , "~/Content/angular-material"
    , "~/Content/css"
)
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="app">
    <div ng-controller="WorkoutController as workoutCtrl" ng-cloak>
        <div class="row">
            <div class="col-xs-6">
                <h2>Workouts</h2>
            </div>
            <div class="col-xs-6 text-right">
                <button style="margin-top: 1em;" class="btn btn-default hidden-lg" type="button" ng-click="workoutCtrl.launchFullScreen()">Full-screen <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></button>
            </div>
        </div>


        <div class="list-group">
            <button type="button" class="list-group-item" ng-repeat="workout in workoutCtrl.workouts" ng-click="workoutCtrl.launchFullScreen()">
                <h4>{{workout.Name}}</h4>
                <span>{{workoutCtrl.getExercisesList(workout)}}</span>
            </button>
        </div>
    </div>
    @RenderBody()
@section Scripts {
    <script>
        angular.module("app", ["gym"])
            .constant("settings", {
                rootUrl: "@Request.ApplicationPath",
                appName: "My First App"
            });
    </script>
}

@Scripts.Render(
    "~/bundles/jquery"
    , "~/bundles/bootstrap"
    , "~/bundles/angular"
    , "~/bundles/main"
)
    @RenderSection("scripts", required: false)
</body>
</html>
